/**
    common
 */
footer{
    background: #093f39;
}


/**
 Home page
 */
div .news-area{
    margin-top: 4px;
    background-color: #fff !important;
}

.row div{
    margin-bottom: 10px ;
}

.center{
    margin: 0 auto;
}

section .mission {
    padding: 10px;
}



/**
stuff page
 */

.image .stuff-custom-img{
    width: 300px !important;
    height: 450px !important;
}




/**

 */
.news-area  p{
    margin-top: 30px;
}




/**
Advisory board
 */

.media-body h4{
    margin-left: 20px;
    margin-bottom: 10px;
}
.media-body p{
    margin-left: 20px;
}


.media-img{
    width: 125px;
    height: 144px;
}
.media:last-child{
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .media-img img{
        width: 65px;
        height: 98px;
        text-align: center;
    }
}
/**
    steering-content
 */

.steering-content{
    margin-top: 30px;
}

.jumbotron h1{
    margin-bottom: 20px;
}

.jumbotron img{
    margin-bottom: 20px;
}

/**
    annual reports
 */
.annual-context{
    background-color: #DFDDD1;
}



/**
conferences
 */

/*.custom-conference-theme{*/
/*    width: 100%;*/
/*    height: 400px;*/
/*}*/
.conference-theme{
    margin: 0 auto;
}

.conference-speaker-img{
    width: 263px;
    height: 316px;
}
