/**
    common
 */
footer{
    background: #093f39;
}


/**
 Home page
 */
div .news-area{
    margin-top: 4px;
    background-color: #fff !important;
}

.row div{
    margin-bottom: 10px ;
}

.center{
    margin: 0 auto;
}

section .mission {
    padding: 10px;
}



/**
stuff page
 */

.image .stuff-custom-img{
    width: 300px !important;
    height: 450px !important;
}




/**

 */
.news-area  p{
    margin-top: 30px;
}




/**
Advisory board
 */

.media-body h4{
    margin-left: 20px;
    margin-bottom: 10px;
}
.media-body p{
    margin-left: 20px;
}


.media-img{
    width: 125px;
    height: 144px;
}
.media:last-child{
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .media-img img{
        width: 65px;
        height: 98px;
        text-align: center;
    }
}
/**
    steering-content
 */

.steering-content{
    margin-top: 30px;
}

.jumbotron h1{
    margin-bottom: 20px;
}

.jumbotron img{
    margin-bottom: 20px;
}

/**
    annual reports
 */
.annual-context{
    background-color: #DFDDD1;
}



/**
conferences
 */

/*.custom-conference-theme{*/
/*    width: 100%;*/
/*    height: 400px;*/
/*}*/
.conference-theme{
    margin: 0 auto;
}

.conference-speaker-img{
    width: 263px;
    height: 316px;
}

/**
    marilyn
 */


.marilyn-info > div{
    margin: 20px 0px 20px 0px;
    padding: 0;
}

.marilyn-info  section{
    background: #DFDDD1;
}

#marilyn-about{
    color: #CE254B;
    font-size: 3em;
    font-family: cursive;
    text-align: center;
    margin-bottom: 30px;
}
#marilyn-word{
    color: #CE254B;
    font-size: 3em;
    font-family: cursive;
    text-align: center;
    margin-bottom: 30px;
}

#marliyn-guideline-welcome{
    color: #CE254B;
    font-size: 3em;
    font-family: cursive;
    text-align: center;
    margin-bottom: 30px;
}

.about-left > p{
    display: inline-block;
    line-height: 30px;
}

.info-button-ma > div > button{
    font-size: larger;
    margin: 30px 0px 100px 0px;
}

.funding-context > p{
    display: inline-block;
    line-height: 30px;
}

.marliyn-guideline > p {
    display: inline-block;
    line-height: 30px;
}

.center-info > p{
    color: #093f39;
}

.thanks > p{
    display: inline-block;
    line-height: 30px;
    margin: 20px 20px 20px 30px;
}

.awardees > h2{
    color: #CE254B;
    font-size: 3em;
    font-family: cursive;
    text-align: center;
    margin-bottom: 30px;
}

.media-object{
    width: 418px;
    height: 425px;
    margin: 20px;
}

.media-body > h4{
    margin-bottom: 20px;
}

.ma-flyer-btn{
    text-align: center;
}

.ma-flyer-btn > a{
    text-align: center;
    font-size: larger;
    margin: 50px;
}

/**
    resident
 */
#resident-eligibility{
    color: #CE254B;
    font-size: 3em;
    font-family: cursive;
    text-align: center;
    margin-bottom: 30px;
}

#resident-guideline-application{
    color: #CE254B;
    font-size: 3em;
    font-family: cursive;
    text-align: center;
    margin-bottom: 30px;
}


/**
    faculty-fellowship
 */


.competition-info > p:nth-of-type(1){
    margin-top: 40px;
    color: red;
    font-family: 'cursive';
    font-size: 35px;
}

hr{
    margin-bottom: 50px;
    border: 0;
    color: black;
    background-color: black;
    height: 1px
}
.media{
    margin-top: 40px;
}

.media-object{
    width: 215px;
    height: 175px;
}

.media-heading{
    margin-top: 30px;
}

.media > hr{
    margin-bottom: 50px;
    border: 0;
    color: black;
    background-color: black;
    height: 1px
}

/**
    working group
 */

.list-group-item > strong{
    color: #0c5449;
}
